[phases.setup]
nixPkgs = ["python311", "nodejs_20"]

[phases.install]
cmds = [
    "pip install -r backend/requirements.txt",
    "bun install"
]

[phases.build]
cmds = [
    "bun run build"
]

[start]
cmd = "python backend/api/server.py"
